@font-face {
    font-family: MuseoSans300;
    src: url(../fonts/MuseoSansCyrl_300.otf);
}

@font-face {
    font-family: MuseoSans700;
    src: url(../fonts/MuseoSansCyrl_700.otf);
}

*{
    box-sizing: border-box;
}

body{
    font-family: MuseoSans300;
}

h1, h2, h3{
    font-family: MuseoSans700;
}

h1{
    font-size: 28px;
    margin-bottom: 0;
}

h2{
    font-size: 20px;
    margin-bottom: 28px;
    width: 100%;
}

h3, p{
    font-size: 14px;
    line-height: 18px;
}

h3{
    margin: 28px 0 16px;
}

.topbar{
    padding: 1em 1.2em;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 100;
}

.navbar, .breadcrumb, .search{
    display: none;
}

.logo img{
    width: 123px;
}

.logo-flex{
    display: flex;
}

.europe{
    color: #E4002B;
    font-family: MuseoSans700;
    font-size: 15px;
    margin: 0;
    align-self: center;
}

.divider{
    width: 2px;
    height: 42px;
    background-color: #EEEEEE;
    transform: rotate(-10deg);
    align-self: center;
    margin: 0 1em;
}

.absolute-popup{
    position: absolute;
    top: 74px;
    width: 100%;
}

.map-button{
    width: 45px;
    height: 45px;
    background-color: #E4002B;
    border-radius: 100px;
    top: 300px;
    right: 300px;
    position: absolute;
}

.popup{
    /* display: none; */
    background-color: #EEEEEE;
    position: relative;
}

.close{
    background-image: url(../img/close.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
    position: absolute;
    top: 1em;
    right: 1em;
}

.popup-text{
    min-height: 375px;
    position: relative;
    padding: 1.5em 1.2em;
}

.popup-img{
    width: 100%;
}

.popup-img img{
    max-width: 100%;
}

.category{
    color: #E4002B;
    text-transform: uppercase;
    font-family: MuseoSans700;
    display: flex;
    align-items: center;
}

.category-icon{
    background-image: url(../img/lightbulb.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 14px;
    height: 19px;
    margin-right: 12px;
}

.more{
    font-family: MuseoSans700;
    display: flex;
    color: black;
    text-decoration: none;
}

.more p{
    margin: 0;
}

.arrow{
    background-image: url(../img/more.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 14px;
    min-height: 14px;
    margin-left: 12px;
    margin-top: 2px;
}

.absolute-overlay{
    position: absolute;
    top: 74px;
    width: 100%
}

.overlay{
    display: none;
    background-color: white;
    position: relative;
    padding: 1.5em 1.2em;
}

.overlay-img{
    margin: 28px -1.2em 0;
}

.overlay-video{
    margin-top: 28px;
}

.overlay-img img{
    max-width: 100%;
}

.share{
    display: flex;
    margin: 2em 0;
}

.share p{
    margin: 0 0.5em 0 0;
    font-family: MuseoSans700;
    font-size: 12px;
}

.social img{
    height: 16px;
    margin: 0 0.5em;
}

.box{
    margin: 0 -1.2em;
    padding: 0.2em 1.2em;
}

.box-gray{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(245,245,240,0.5956757703081232) 100%);
}

.gray{
    color: #7D7573;
}

.sponsors{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sponsor{
    max-width: 45%;
}

.sponsor img{
    width: 100%;
}

.local-img{
    width: 100%;
}

.local-img img{
    max-width: 100%;
}

.overlay .more{
    margin-bottom: 2em;
}

.embed-container{ 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
} 

.embed-container iframe, .embed-container object, .embed-container embed{ 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}

/* .container{
    position: relative;
    height: min-content;
} */

.up{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.arrow-up{
    width: 55px;
    height: 55px;
    border-radius: 100px;
    background-color: #F2F3F4;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.arrow-up:hover{
    background-color: white;
}

.arrow-up img{
    align-self: center;
    padding-bottom: 2px;
}

.overlay-list{
    display: none;
    background-color: white;
    position: relative;
    padding: 3em 1.2em 1.5em;
}

.list-item{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 90%;
    margin-bottom: 1.5em;
    /* border-left: 3px solid white; */
}

.list-item a:hover{
    border-left: 3px solid #E4002B;
}

.list-item:hover .list-more{
    color: white;
    background-color: #E4002B;
}

.list-item:hover .list-more .arrow{
    background-image: url(../img/more-white.png);
}

.list-info{
    padding: 0.8em 1em;
    width: 100%;
}

.list-info, .list-text{
    align-self: center;
}

.list-text{
    display: flex;
    flex-wrap: wrap;
}

.list-icon{
    background-image: url(../img/groener-europa.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 25px;
    min-height: 25px;
    margin-right: 12px;
    align-self: center;
}

.list-icon-flex{
    display: flex;
}

.list-title{
    color: black;
    text-transform: uppercase;
    align-self: center;
}

.list-title p, .list-description p{
    margin: 0;
}

.list-description, .list-more{
    color: #7D7573;
}

.list-more{
    display: flex;
    background-color: #EEEEEE;
    padding: 1em;
}

.list-more p{
    margin: 0;
    align-self: center;
}

.list-more .arrow{
    align-self: center;
    margin-top: 0;
}

footer{
    background-color: #363636;
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 1.2em;
    /* position: absolute;
    bottom: 0;
    width: 100%; */
}

footer p{
    margin: 0 0 0.2em;
}

footer a{
    color: white;
    margin: 0 0.2em;
}

.map{
    background-image: url(../img/map.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    /* position: absolute; */
}

@media(min-width: 375px){
    .popup .more{
        position: absolute;
        bottom: 2em;
    }
}

@media(min-width: 568px){
    .overlay, .overlay-list{
        padding: 3em 2em 1.5em;
    }

    .overlay-img{
        margin: 28px -2em;
    }

    .popup{
        max-width: 375px;
        margin: 20px auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .popup-text{
        min-width: 375px;
    }

    .popup-img{
        min-width: 375px;
        max-height: 375px;
    }
    
    .popup-img img{
        max-width: 100%;
    }
}

@media(min-width: 768px){
    .topbar{
        display: flex;
        justify-content: space-between;
    }

    .topbar-right{
        display: flex;
    }

    .list-button{
        display: flex;
        text-decoration: none;
    }

    .list-button p{
        margin: 0;
        align-self: center;
        font-size: 18px;
        color: black;
        margin-right: 18px;
    }

    .hamburger{
        display: none;
    }

    .search{
        display: flex;
        background-color: #EEEEEE;
    }

    /* .search-icon{
        width: 50px;
        text-align: center;
        align-self: center;
    }

    .search-icon img{
        margin-top: 5px;
    } */

    .search input{
        border: none;
        padding: 0 1em;
        background-color: #EEEEEE;
        background-image: url(../img/search.svg);
        background-repeat: no-repeat;
        background-size: 10%;
        background-position-y: center;
        margin-left: 15px;
        padding-left: 35px;
    }

    input:focus{
        outline: none;
    }
    
    .navbar{
        display: block;
        width: 74px;
        height: 100vh;
        position: fixed;
        background-color: #EEEEEE;
        z-index: 50;
        padding-top: 74px;
        transition: width 500ms ease;
    }
    
    .navbar-nav{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .nav-item {
        width: 100%;
        border-right: 3px solid #EEEEEE;
    }
    .nav-item a {
        border-left: 3px solid #EEEEEE;
    }
    
    /* .nav-item:last-child{
        margin-top: auto;
    } */
    
    .nav-link{
        display: flex;
        align-items: center;
        height: 74px;
        text-decoration: none;
        color: #242424;
        font-family: MuseoSans700;
        font-size: 20px;
    }
    
    .link-text{
        /* display: none; */
        /* margin-left: 1em; */
        transform: translateX(-200px);
        opacity: 0;
        transition: transform 200ms ease;
        transition: opacity 200ms 100ms ease;
    }
    
    .nav-link img{
        margin: 0 27px;
    }
    
    .navbar:hover{
        width: 250px;
    }
    
    .navbar:hover .link-text{
        /* display: block; */
        transform: translateX(0);
        opacity: 1;
    }

    .navbar:hover .nav-footer a{
        opacity: 1;
    }
    
    .nav-item:hover{
        border-right: 3px solid white;
        background-color: white;
    }
    .nav-item:hover a{
        border-left: 3px solid #E4002B;
    }

    .nav-footer{
        position: absolute;
        bottom: 0;
        right: 0;
        height: 74px;
        width: 250px;
        padding: 0 1em;
        background-color: #363636;
        text-align: center;
        display: flex;
    }

    .nav-footer a{
        opacity: 0;
        color: white;
        background-color: #E4002B;
        text-decoration: none;
        padding: 1em;
        margin: auto;
        align-self: center;
        width: 100%;
        transition: opacity 500ms ease;
    }

    .map{
        min-height: calc(100vh - 74px);
    }

    footer{
        height: 74px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* position: fixed;
        width: 100%; */
    }

    .absolute-overlay{
        top: 120px;
        margin-bottom: 120px;
    }

    .overlay, .overlay-list{
        max-width: 70%;
        margin: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        z-index: 20;
    }

    .list-title{
        min-width: 250px;
    }

    .list-more{
        min-width: 145px;
    }
    
}

@media(min-width: 1024px){
    .flex{
        display: flex;
        justify-content: space-between;
    }

    .flex-reverse{
        flex-direction: row-reverse;
    }

    .flex-section{
        width: 45%;
    }

    .sponsors{
        justify-content: flex-start;
    }

    .sponsor{
        max-width: 25%;
    }

    .locals-flex{
        display: flex;
        flex-wrap: wrap;
    }

    .local{
        width: 33.33%;
        padding: 0 1em 0 0;
    }

    .list-icon{
        margin-right: 24px;
    }

    .popup{
        display: flex;
        max-width: 750px;
        position: relative;
    }
}

@media(min-width: 1200px){
    .local{
        width: 25%;
        padding: 0 1em 0 0;
    }

    .list-text{
        flex-wrap: nowrap;
    }
}